.hide-me {
    visibility: hidden;
    opacity: 0;
    transform: scale(.75);
}

h1 {
    margin-top: 0;
    font-size: 2.4em;
    font-weight: normal;
    display: inline-block;
}

button {
    background-color: #046380;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 0 #034154;
    margin-bottom: 10px;
    margin-left: 18px;
    transition: opacity .4s ease-out, transform .4s ease-out, visibility .4s ease-out;
    position: relative;
    top: -10px;
}