.Frist-Container {
    &_Row {
        &_Frist-Div {
            &--height-100-px {
                height: 100px;
                background-color: aqua;
            }
            &--change-color:hover {
                color: green!important;
                text-align: center;
            }
        }
    }
}
.Second-Container {
    &_Row {
        &_Second-Div {
            &--height-200-px {
                height: 200px;
                background-color: brown;
            }
        }
    }
}